---
import { SendHorizontal } from "lucide-react";
import { cn } from "@/lib/utils";
import H5 from "./H5.astro";
---

<div class="col-span-full text-center sm:text-left">
  <H5> Nous contacter </H5>
  <p class={cn("text-sm mb-2 w-full mt-2 max-w-[400px] font-open-sans", "mx-auto", "sm:mx-0")}>
    Une question à nous poser ? Une information à nous communiquer ? Un article à nous proposer ?
  </p>
  <a
    href="/contact"
    class={cn(
      "w-full font-open-sans leading-tight underline flex gap-2 font-bold items-center",
      "text-sm justify-center",
      "sm:text-base sm:justify-start",
    )}
  >
    <SendHorizontal size={16} />
    Contactez-nous !
  </a>
</div>
