---
import { SendHorizontal } from "lucide-react";
import { cn } from "@/lib/utils";
import H5 from "./H5.astro";
---

<div class="col-span-full text-center sm:text-left">
  <H5> Nous contacter </H5>
  <p class={cn("font-open-sans mb-2 mt-2 w-full max-w-[400px] text-sm", "mx-auto", "sm:mx-0")}>
    Une question à nous poser ? Une information à nous communiquer ? Un article à nous proposer ?
  </p>
  <a
    href="/contact"
    class={cn(
      "font-open-sans flex w-full items-center gap-2 font-bold leading-tight underline",
      "justify-center text-sm",
      "sm:justify-start sm:text-base",
    )}
  >
    <SendHorizontal size={16} />
    Contactez-nous !
  </a>
</div>
