---
import { cn } from "@/libs/tailwind";

// Database import ?
const MORE_LINKS = [
  {
    name: "Mentions légales",
    url: "/mentions-legales",
  },
  {
    name: "Politique de confidentialité",
    url: "/politique-de-confidentialite",
  },
  {
    name: "Nous contacter",
    url: "/contact",
  },
  {
    name: "Nos événements",
    url: "/evenements",
  },
];
---

<ul
  class={cn(
    "flex items-center justify-center text-center leading-none font-bakbak bg-black text-frustration-yellow px-8",
    "py-2 gap-2 flex-col",
    "sm:flex-row sm:gap-4",
    "lg:py-2 lg:text-lg",
  )}>
  {
    MORE_LINKS.map(({ name, url }) => (
      <li>
        <a
          href={url}
          class={cn(
            "relative",
            "text-sm",
            "sm:text-base",
            "md:text-lg",
            "before:absolute before:bottom-0 before:left-1/2 before:block before:h-[2px] before:w-0 before:translate-x-[-50%] before:bg-frustration-yellow before:transition-all before:content-[''] hover:before:w-full",
          )}>
          {name}
        </a>
      </li>
    ))
  }
</ul>
