---
import { TbSend } from "react-icons/tb";
import { cn } from "@/lib/utils";
import H5 from "./H5.astro";
---

<div>
  <H5>
    Nous suivre <span
      class={cn("hidden", "xs:inline-block font-open-sans text-sm ml-0.5")}
      >(jusqu'à la révolution)</span
    >
  </H5>
  <p
    class={cn(
      "mb-4 font-open-sans leading-tight",
      "text-sm text-center",
      "sm:text-base sm:text-left",
    )}>
    Recevez régulièrement une sélection de nos derniers articles !
  </p>
  <form
    id="form-newsletter-banner"
    class="flex flex-col gap-3 w-full max-w-[600px]">
    <input
      class="px-5 bg-white py-2"
      required
      name="email"
      placeholder="Email"
      type="email"
      title="Merci de renseigner votre email"
      alt="Merci de renseigner votre email"
    />
    <button
      type="submit"
      class={cn(
        "bg-black py-2 font-open-sans justify-center font-bold text-frustration-yellow flex items-center gap-2",
        "text-base",
        "md:text-lg",
      )}>
      <TbSend />
      <span>S'inscrire à la newsletter</span>
    </button>
  </form>
  <script>
    import { addToNewsletter } from "@/scripts/add-to-newsletter";
    const form = document.getElementById(
      "form-newsletter-banner",
    ) as HTMLFormElement;
    if (form) addToNewsletter(form);
  </script>
</div>
