---
import { TbSend } from "react-icons/tb";
import { cn } from "@/lib/utils";
import H5 from "./H5.astro";
---

<div>
  <H5>
    Nous suivre <span class={cn("hidden", "xs:inline-block font-open-sans ml-0.5 text-sm")}
      >(jusqu'à la révolution)</span
    >
  </H5>
  <p class={cn("font-open-sans mb-4 leading-tight", "text-center text-sm", "sm:text-left sm:text-base")}>
    Recevez régulièrement une sélection de nos derniers articles !
  </p>
  <form
    id="form-newsletter-banner"
    class="flex w-full max-w-[600px] flex-col gap-3"
  >
    <input
      class="bg-white px-5 py-2"
      required
      name="email"
      placeholder="Email"
      type="email"
      title="Merci de renseigner votre email"
      alt="Merci de renseigner votre email"
    />
    <button
      type="submit"
      class={cn(
        "font-open-sans text-primary flex items-center justify-center gap-2 bg-black py-2 font-bold",
        "text-base",
        "md:text-lg",
      )}
    >
      <TbSend />
      <span>S'inscrire à la newsletter</span>
    </button>
  </form>
  <script>
    import { addToNewsletter } from "@/scripts/add-to-newsletter";
    const form = document.getElementById("form-newsletter-banner") as HTMLFormElement;
    if (form) addToNewsletter(form);
  </script>
</div>
