---
import { cn } from "@/lib/utils";
import { LuMessagesSquare as MessageIcon } from "react-icons/lu";
const SEARCH_INTERVIEWS_LINK = "/posts?category=entretiens";
---

<a
  href={SEARCH_INTERVIEWS_LINK}
  class={cn(
    "font-bebas m-auto flex w-fit items-center bg-white leading-none text-black transition-transform hover:scale-110",
    "mt-20 px-4 py-2 text-2xl",
    "sm:mt-14 sm:text-3xl",
    "md:mt-14 md:gap-3 md:px-5 md:py-3",
  )}
>
  <MessageIcon />
  <span class="relative top-0.5">
    <slot />
  </span>
</a>
