---
import { cn } from "@/lib/utils";
---

<h2
  class={cn(
    "title font-bakbak relative m-auto w-fit select-none uppercase text-white",
    "mb-2 text-4xl",
    "xs:text-5xl mb-3",
    "sm:mb-8 sm:text-6xl",
    "md:mb-12 md:text-7xl",
    "lg:mb-16 lg:text-9xl",
    "xl:text-10xl xl:mb-24",
  )}
>
  <slot />
</h2>
