---
// 🔧 Libs
import { cn } from "@/libs/tailwind";
import { Image } from "astro:assets";

const { width, src, reverse } = Astro.props;
---

<div
  class={cn("cursor-pointer hover:[animation-play-state:paused]", {
    "animate-sliding": !reverse,
    "animate-sliding-reverse": reverse,
  })}>
  <Image
    src={src}
    alt="Exemple de newsletter"
    width={width}
    class="shadow-lg"
  />
</div>
