---
import { Image } from "astro:assets";
import BannerImage from "../../assets/banner.webp";
---

<a href="/abonnements#formules">
  <Image
    src={BannerImage}
    alt="Bannière abonnements"
    class="mb-12 w-full rounded-md shadow-md"
    width="800"
  />
</a>
