---
import { cn } from "@/lib/utils";
---

<h1
  class={cn(
    "font-bakbak text-balance break-words pb-2 uppercase leading-[90%]",
    "mb-3 border-b-[5px] border-black text-[2.3rem] leading-none",
    "xs:border-b-[5px] xs:text-5xl mb-4",
    "sm:border-b-[5px] sm:text-6xl",
    "md:border-b-[8px] md:text-7xl",
  )}
>
  <slot />
</h1>
