---
import { Image } from "astro:assets";
import frustrationLogo from "./frustration-logo.webp";

import { Calendar, Mail, User } from "lucide-react";
import Banner from "./banners/Banner.astro";
import { SearchOverlay } from "./components/SearchOverlay";
import { MenuOverlay } from "./components/MenuOverlay";

import { cn } from "@/lib/utils";
import { fetchCategories } from "@/lib/wordpress";

const categories = await fetchCategories();
---

<header class={cn("text-primary @container sticky top-0 z-20 flex justify-between bg-black/90", "px-4 py-3", "xs:p-4")}>
  <a
    aria-label="Page d'accueil"
    title="Page d'accueil"
    href="/"
    class={cn("my-auto", "w-32", "xs:w-36", "lg:w-48")}
  >
    <Image
      src={frustrationLogo}
      width="300"
      alt="Logo de Frustration"
    />
  </a>
  <div class={cn("flex", "gap-4", "md:gap-5")}>
    <SearchOverlay client:load />

    <a
      href="/contact"
      type="button"
      title="Nous contacter"
      class={cn("w-4 cursor-pointer", "md:w-5", "xl:w-6")}
      aria-label="Nous contacter"
    >
      <Mail size="100%" />
    </a>

    <a
      href="/evenements"
      type="button"
      title="Voir nos événements"
      class={cn("w-4 cursor-pointer", "md:w-5", "xl:w-6")}
      aria-label="Voir nos événements"
    >
      <Calendar size="100%" />
    </a>

    <a
      href={import.meta.env.STRIPE_PORTAL_CLIENT}
      target="_blank"
      type="button"
      title="Portail abonnés"
      class={cn("w-4 cursor-pointer", "md:w-5", "xl:w-6")}
      aria-label="Portail abonnés"
    >
      <User size="100%" />
    </a>

    <MenuOverlay
      categories={categories}
      portalUrl={import.meta.env.STRIPE_PORTAL_CLIENT}
      client:load
    />
  </div>
</header>
<Banner />
