---
import { Image } from "astro:assets";
import frustrationLogo from "./frustration-logo.webp";

import SubscribersBanner from "./banners/SubscribersBanner.astro";
import { SearchOverlay } from "./components/SearchOverlay";
import { MenuOverlay } from "./components/MenuOverlay";
import { Book, Calendar, Mail, User } from "lucide-react";

import { cn } from "@/lib/utils";
import { fetchCategories } from "@/lib/wordpress";

const categories = await fetchCategories();
---

<header
  class={cn(
    "text-primary @container sticky top-0 z-20 flex justify-between bg-gradient-to-b from-black to-black/85",
    "px-4 py-3",
    "xs:p-4",
  )}
>
  <a
    href="/"
    title="Page d'accueil"
    aria-label="Page d'accueil"
    class={cn("my-auto", "w-32", "xs:w-36", "lg:w-48")}
  >
    <Image
      src={frustrationLogo}
      width="300"
      alt="Logo de Frustration"
    />
  </a>

  <div class={cn("flex", "gap-4", "md:gap-5")}>
    <SearchOverlay client:load />

    <a
      href="/contact"
      type="button"
      title="Nous contacter"
      aria-label="Nous contacter"
      class={cn("w-4 cursor-pointer", "md:w-5", "xl:w-6")}
    >
      <Mail size="100%" />
    </a>
    <a
      href="/evenements"
      type="button"
      title="Voir nos événements"
      aria-label="Voir nos événements"
      class={cn("w-4 translate-y-[-1px] cursor-pointer", "md:w-5", "xl:w-6")}
    >
      <Calendar size="100%" />
    </a>
    <a
      href="/sorties-papier"
      type="button"
      title="Voir nos sorties papier"
      aria-label="Voir nos sorties papier"
      class={cn("w-4 cursor-pointer", "md:w-5", "xl:w-6")}
    >
      <Book size="100%" />
    </a>
    <a
      href={import.meta.env.STRIPE_PORTAL_CLIENT}
      type="button"
      target="_blank"
      title="Portail abonnés"
      aria-label="Portail abonnés"
      class={cn("w-4 cursor-pointer", "md:w-5", "xl:w-6")}
    >
      <User size="100%" />
    </a>

    <MenuOverlay
      categories={categories}
      portalUrl={import.meta.env.STRIPE_PORTAL_CLIENT}
      client:load
    />
  </div>
</header>
<SubscribersBanner />
