---
import PageLayout from "@/layout/PageLayout/PageLayout.astro";
import { PaperItemTabs } from "./_components/PaperItemTabs";
import H2 from "@/components/H2";
import H3 from "@/components/H3";

import { Link } from "@/components/Link";
import { prisma } from "data-access/prisma";

const paperItems = await prisma.paperItem.findMany({
  include: {
    author: true,
    image: true,
  },
  where: {
    displayItem: true,
  },
  orderBy: {
    releaseDate: "desc",
  },
});

export type PaperItemWithRelations = (typeof paperItems)[number];
---

<PageLayout
  title="Papier"
  description="Les numéros papiers de Frustration ainsi que la collection LLL x Frustration"
>
  <article slot="content">
    <H2>Nos sorties papier</H2>
    <H3 className="text-center text-gray-800"
      >Procurez-vous le dernier numéro papier de Frustration ainsi que les livres de la nouvelle collection LLL x
      Frustration !</H3
    >

    <section class="mt-8 space-y-4">
      <p class="mx-auto w-full text-gray-600 sm:w-3/4">
        En cliquant sur un des articles ci-dessous, vous serez redirigés vers un lien d'achat auprès des librairies
        indépendantes, mais vous pouvez aussi les trouver en grande distribution.
      </p>

      <p class="mx-auto w-full text-gray-600 sm:w-3/4">
        Vous pouvez également <Link href="/abonnements#formules">👉 vous abonner 👈</Link> à Frustration et recevoir un exemplaire
        de l'un de ces articles selon votre formule d'abonnement.
      </p>
    </section>

    <section class="mt-6">
      <PaperItemTabs
        client:load
        paperItems={paperItems}
      />
    </section>
  </article>
</PageLayout>
