---
import { Image } from "astro:assets";
import Banner2025 from "./assets/banner_2025.webp";
import Banner2025Background from "./assets/banner_bg_2025.jpg";
const backgroundUrl = `url(${Banner2025Background.src})`;
---

<a
  href="abonnements"
  id="banner"
  class="banner-container bg-[url('/img/banner_bg_2025.jpg')] bg-repeat-round bg-cover">
  <Image
    src={Banner2025}
    width="500"
    class="max-h-[15vh] max-w-[80vw] w-auto h-auto m-auto"
    alt="Soutenez Frustration Magazine !"
  />
</a>
<style define:vars={{ backgroundUrl }}>
  .banner-container {
    background-image: var(--backgroundUrl);
  }
</style>
