---
import PageLayout from "@/layout/PageLayout/PageLayout.astro";
import H2 from "@/components/H2";
import H3 from "@/components/H3";
import { EventsTabs } from "./_components/EventsTabs";

import { prisma } from "data-access/prisma";
import { eventsQuery } from "./_models";
import { setCacheHeaders, CachePresets } from "@/lib/cache";
import { OG_IMAGES_URL } from "@/constants";

export const prerender = false;
setCacheHeaders(Astro.response.headers, CachePresets.events);

const events = await prisma.events.findMany(eventsQuery);

const today = new Date();
today.setHours(0, 0, 0, 0);
const futureEvents = events.filter(({ date }) => date >= today);
const pastEvents = events.filter(({ date }) => date < today).reverse();
---

<PageLayout
  title="Événements"
  description="Liste des événements à venir autour de Frustration Magazine et Nicolas Framont"
  ogImageUrl={`${OG_IMAGES_URL}/evenements.webp`}
>
  <article slot="content">
    <H2>Frustra'tour</H2>
    <H3 className="mb-8 text-center"
      >Venez rencontrer l'équipe de Frustration Magazine lors de nos événements publics !</H3
    >

    <EventsTabs
      client:load
      futureEvents={futureEvents}
      pastEvents={pastEvents}
    />
  </article>
</PageLayout>
