---
import { cn } from "@/lib/utils";
import SectionTitle from "../SectionTitle.astro";
import Card from "./Card.astro";
import AllArticles from "../AllArticles.astro";

const { posts } = Astro.props;
---

<section class={cn("h-fit w-full m-auto max-w-[2200px]", "mt-4 md:mt-10 lg:mt-12 xl:mt-24", "px-2 sm:px-8")}>
  <SectionTitle>À la une</SectionTitle>

  {/* Thumbnails */}
  <div class={cn("grid grid-cols-[repeat(auto-fit,minmax(max(30%,300px),1fr))]", "w-full gap-4")}>
    {posts.map((post: any) => <Card {...post} />)}
  </div>
  <AllArticles label="Tous les articles" />
</section>
