---
import BaseLayout from "@/layout/BaseLayout/BaseLayout.astro";
export const prerender = false;
---

<BaseLayout title="Page inexistante">
  <div class="flex h-[700px] flex-col justify-center gap-3 text-center">
    <p class="text-3xl">La page que vous recherchez n'existe pas 😭</p>
    <a
      href="/"
      class="text-blue text-xl font-bold underline"
      >Retour à la page d'accueil</a
    >
  </div>
</BaseLayout>
