---
import BaseLayout from "@/layout/BaseLayout/BaseLayout.astro";

import ALaUne from "./_components/ALaUne/ALaUne.astro";
import MainSlider from "./_components/MainSlider/MainSlider.astro";
import NewsletterBanner from "./_components/NewsletterBanner/NewsletterBanner.astro";
import SeparationWave from "./_components/Separators/Wave.astro";
import Videos from "./_components/Videos/Videos.astro";
import Interviews from "./_components/Interviews/Interviews.astro";
import SeparationSpades from "./_components/Separators/Spades.astro";

import { fetchLastPosts } from "@/lib/wordpress";

const metadata = {
  title: "Accueil",
  description:
    "Page d'accueil du magazine de critique sociale pour grand public Frustration Magazine sur lequel vous pourrez retrouver nos dernières vidéos et articles pour mieux comprendre l'actualité politique, économique et sociale ainsi que toutes nos analyses sur la guerre en cours que mène la bourgeoisie contre les travailleuses et travailleurs.",
};

const MAX_POSTS = 9;
const posts = await fetchLastPosts({ first: MAX_POSTS });
---

<BaseLayout {...metadata}>
  <section class="bg-home-first-section block w-full overflow-hidden">
    <MainSlider posts={posts} />
    <ALaUne posts={posts} />
    <NewsletterBanner />
    <Videos />
    <SeparationWave />
  </section>
  <section class="relative block w-full bg-black pb-12 pt-7 sm:pb-20">
    <Interviews />
    <SeparationSpades />
  </section>
</BaseLayout>
