---
import ArrowButtons from "./ArrowButtons.astro";
import Slide from "./Slide.astro";

import evenementsSlide from "./_assets/evenements.webp";
import papersSlide from "./_assets/papers.webp";

const { posts } = Astro.props;

const slides = [
  ...posts,
  {
    isArticle: false,
    title: "📅 Événements",
    link: "/evenements",
    featuredImage: {
      node: {
        sourceUrl: evenementsSlide,
        altText: "Aperçu des événements",
        title: "Aperçu des événements",
      },
    },
  },
  {
    isArticle: false,
    title: "📚 Sorties papier",
    link: "/sorties-papier",
    featuredImage: {
      node: {
        sourceUrl: papersSlide,
        altText: "Aperçu des sorties papier",
        title: "Aperçu des sorties papier",
      },
    },
  },
];
---

<div class="splide">
  <ArrowButtons />
  <div class="splide__track h-full">
    <ul class="splide__list">
      {slides.map((slide: any) => <Slide {...slide} />)}
    </ul>
  </div>
  <div class="splide__progress absolute bottom-0 w-full">
    <div class="splide__progress__bar h-3! bg-primary!"></div>
  </div>
</div>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";

  document.addEventListener("DOMContentLoaded", () => {
    const header = document.querySelector("body > header") as HTMLElement;
    const banner = document.querySelector("body #banner") as HTMLElement;
    const carrousel = document.querySelector(".splide") as HTMLElement;

    const headerHeight = header ? header?.getBoundingClientRect().height : 0;
    const bannerHeight = banner ? banner?.getBoundingClientRect().height : 0;
    const carrouselHeight = window.innerHeight - (headerHeight ?? 0) - (bannerHeight ?? 0);
    carrousel.style.height = `${carrouselHeight}px`;

    const splide = new Splide(".splide", {
      type: "loop",
      pagination: false,
      width: "100%",
      autoplay: true,
      rewind: true,
      rewindSpeed: 10000,
      perPage: 1,
      height: `${carrouselHeight}px`,
    });
    splide.mount();
  });
</script>
